*{
    font-family: sans-serif;
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    .contenedor {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "head head"
                         "nav main"
                         "footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 2fr;
}
.contenedor header {
    grid-area: head;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-content: center; 
    border: 2px solid white;


   
}
a {
    text-decoration: none;
    color: blue;
}
p  {
    color: white;
}
.contenedor nav {
    grid-area: nav;
    background-color: black;
    border: 2px solid white;
}
.contenedor main {
    grid-area: main;
    background-image: url(imagenes/ying\ yang.png);
    background-position: center;
    display: flex;
    align-items: center;

}
.contenedor footer {
    grid-area: footer;
    background-color: white;

}
.contenedor footer img {
height: 70px; 
}

.contenedor footer section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contenedor footer section img {
 height: 30px;
}