
*{
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor {
    background-color: black;
    width: 100%;
    height: 100vh;

}

.contenedor main {
    color: white;
}

.contenedor main img {
    height: 500px;
    display: flex;
    justify-content: center;
}


