@media only screen and (max-width: 600px) {

    .nav {
        position: relative;
    }
    .nav .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: #05aed9 ;
        margin-top: 38em;
        transform:  translate(100%);
    }
    
    }